
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --sm-font: "Poppins", serif;
    --lg-font: "Playfair Display", serif;
    --pink:#e5345b;
}
body{
    font-family: var(--sm-font);
}
.badge{
    background-color:var(--pink);
   
}
.btn:not(.nav-btns button){
    padding: 10px 28px;
    background-color: white;
    color: rgb(85,85,85);
    border-radius: 25px;
    border: 1px solid rgb(85,85,85);
}
.btn.btn:not(.nav-btns button):hover{
    background-color: #e5345b;
    color: white;
    border-color: #e5345b;
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0,0,0,0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink);
}
.nav-item{
    border-bottom: 0.5px solid rgba(0,0,0,0.05);
}

.list-group-item a:hover{
   color: #e5345b;
}

/* header */

header{
    background: url("https://plus.unsplash.com/premium_photo-1723629710346-12268d387372?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") top/cover no-repeat;
}
.carousel-inner{
    height: 90vh;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
    position: absolute;
    /* color: #818c78; */
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center; 
  }


/* collections */
.active-filter-btn{
    background-color: #e5345b !important;
    color: #fff !important;
    border-color: #e5345b !important;
}
.collection-img img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.collection-img img:hover{
  transform: scale(1.1);
}
.collection-img span{
    top:20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.bg-new{
    background-color: #e5345b;
}
/* text-colors */
.text-primary{
    color: #e5345b !important;
}

/* special */
.special-img span{
   top: 20px;
   right: 20px;
}
.special-list .btn{
    padding: 8px 20px !important;
}
.special-img img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.special-img:hover img{
    transform: scale(1.2);
}

/* offers */
#offers{
    background: url("./offer_img.jpg") center/cover no-repeat;
}
.offers-row{
    min-height: 60vh;
}
.offer-content span{
    font-size: 28px;
}
.offer-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
/* card */
.card-body p{
    font-size: 18px;
}


.bg-dark {
    background-color: #212529;
}

.py-5 {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}


.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
}


footer {
    color: black; 
  }
  
  #footer  .nav .text-color{
    color: black;
  }
  
  #footer .btn-primary {
    background-color: #1E1E19;
    border: #1E1E19;
    color: #fff;
  }
  
  #footer .btn-primary:hover {
    background-color: #e5345b;
    border: #1E1E19;
    color: #fff;
  }
  
  #footer .bi {
    color: #1E1E19;
  }
  

  #footer .row {
    justify-content: space-between; 
  }
  
  #footer .nav {
    padding-left: 0; 
  }
  
  #footer .nav-link {
    padding: 0.25rem 0; 
  }
  
  #footer h5 {
    margin-bottom: 14px; 
  }
  
  #footer .form-control {
    flex: 1; 
  }
  
  #footer .btn {
    white-space: nowrap; 
  }


  .scrolling-images {
    margin-top: 20px;
    padding: 10px 20px;
    overflow-x: scroll;
    white-space: nowrap;
}

.scroll-container {
    display: flex;
}

.scroll-item {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
}

.scroll-item img {
    width: 300px;
    height: 300px;
   
    object-fit: contain;
    transition: all 0.3s ease;
}

.scroll-item p {
    margin-top: 10px;
    font-size: 18px;
}

.scrolling-images img:hover {
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.1);
   scale: 1.06;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image img {
    width: 100%;
    height: 300px;
    display: block;
  }
  
  .product-actions {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .btn-addto-cart{
    padding: 8px 12px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  .btn-buy-now{
    padding: 6px 10px;
    outline: none;
    border-radius: 32px;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border: 1px solid #1E1E19;
  }
  
  .btn-addto-cart {
    background-color:#1E1E19;
    color: #fff;
  }
  
  .btn-addto-cart:hover {
    background-color: #e5345b;
    color:#fff ;
  }
  
 

  .btn-buy-now:hover {
    background-color: #e5345b;
  }
  
  .product-item-details {
    padding: 10px;
  }
  
  .product-item-name a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .product-item-name a:hover {
    color: #e5345b;
  }
  
  .price-box {
    margin-top: 8px;
    font-size: 16px;
    color: #28a745;
  }

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.feature-icon{
  background-color: #e5345b;
  color: #fff; 
}


.bg-gradient {
  background: linear-gradient(45deg, #e5345b, #ff6b88);
}


.feature-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


.feature-icon {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px; 
}


.fa-bounce, .fa-beat {
  animation-duration: 1.5s;
}


h3.fs-2 {
  color: #e5345b; 
  margin-top: 15px;
}

p {
  color: #555;
}

#aboutus img{
  transition: all 0.3s ease;
}

#aboutus img:hover{
  transform: scale(1.1);
}
#new_arrival_load_more {
  margin-bottom: 50px; 
}
@media (max-width:1200) {
    .carousel-inner{
        height: 77vh;
    }   
}
@media (max-width:992px) {
   .nav-item{
    border-bottom: none;
   }
   .carousel-inner{
    height: 75vh;
   } 
}
@media (max-width:768px) {
   .carousel-inner{
    height: 50vh;
   } 
}
@media (max-width:576px) {
    .carousel-inner{
        height: 30vh;
    }
}